.loginContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 300px;
}

.loginContent form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.loginContent form button {
    display: flex;
    gap: 8px;
    justify-content: center;
}