.cardContent {
    background-color: var(--background-1);
    color: var(--foreground-1);
    border: 1px solid var(--foreground-1);
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
}