.homeContent {
    width: var(--w-size);
    display: flex;
    justify-content: space-evenly;
}

.homeContent aside {
    width: 50%;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.homeContent .logo {
    font-size: 64px;
}

.homeContent .buttons {
    width: 300px;
}

.homeContent .buttons button {
    margin: 0px;
    margin-top: 16px;
    width: 100%;
}