.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: var(--background);
    height: var(--h-header);
    width: 100vw;
}

.header .headerContent .logo {
    font-size: 24px;
}

.header .headerContent {
    width: var(--w-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .headerContent .data {
    display: flex;
    gap: 8px;
}

.header .headerContent button {
    background-color: transparent;
    border: 0;
    padding: 0px;
}